<!DOCTYPE html>
<html lang="hu">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description"
          content="Professzionális vaku igényes fotósok számára, akik kompromisszumok nélkül, de elérhető áron szeretnék megtapasztalni a fotózás új élményét. A Nikon SB910 legjobb alternatívája!">
    <meta name="keywords" content="Nikon, Nikon SB910, Nikon vaku, alternatív vaku, csúcsvaku, Meike, Meike vaku, Meike MK910, legjobb vaku">
    <meta name="og:locale" content="hu_HU">
    <meta name="og:type" content="website">
    <meta name="og:title" content="Egyik legjobb vaku Nikon vázra | Meike MK910 a profi fény titka">
    <meta name="og:description"
          content="Professzionális vaku igényes fotósok számára, akik kompromisszumok nélkül, de elérhető áron szeretnék megtapasztalni a fotózás új élményét. A Nikon SB910 legjobb alternatívája!">
    <meta name="og:url" content="http://csucsvaku.hu">
    <meta name="og:site_name" content="Csúcsvaku | Meike MK910 a profi fény titka">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Egyik legjobb vaku Nikon vázra | Meike MK910 a profi fény titka</title>

    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    <!-- Hotjar Tracking Code for www.csucsvaku.hu -->

</head>
<body>

<nav class="menu__container navbar navbar-default navbar-fixed-top">
    <div class="menu site-maxWidth">
        <div class="menu__logo-container">
            <img class="menu__logo" src="{{ asset('images/meike-mk910-logo.jpg') }}">
            <h1 class="menu__title hidden-sm">Csúcsvaku.</h1>
        </div>
        <ul class="menu__items nav navbar-nav hidden-xs">
            <li class="menu__item menu-item__form-info"><a>Megrendelés</a></li>
            <li class="menu__item menu-item__benefits-info"><a>Termékelőnyök</a></li>
            <li class="menu__item menu-item__details-info"><a>Részletek</a></li>
            <li class="menu__item menu-item__functions-info"><a>Funkciók</a></li>
            <li class="menu__item menu-item__customer-info"><a>Kiknek ajánljuk</a></li>
            <li class="menu__item menu-item__main-slide active"><a>Kezdőlap</a></li>
        </ul>
    </div>
</nav>

<div class="main-slide">

    {% for message in app.flashes('message') %}
        <p class="alert alert-success">
            <span class="main-slide__success-icon"></span>
            {{ message }}
        </p>
    {% endfor %}

    <h1 class="main-slide__title text-center">Csúcsvaku</h1>
    <h2 class="main-slide__subtitle text-center">A profi fény titka.</h2>
    <p class="main-slide__text text-center">Professzionális vaku azok számára, akik kompromisszumok nélkül, de
        elérhető áron<br>szeretnék megtapasztalni a fotózás új élményét.</p>
    <button type="button" class="main-slide__button btn btn-lg btn-success text-center"><i class="glyphicon glyphicon-play"></i> Fedezd
        fel!
    </button>
    <img class="main-slide__image" src="{{ asset('images/meike-mk910-main.png') }}">
</div>


<div class="parallax parallax__one"></div>


<div class="customer-info container-fluid">
    <div class="row site-maxWidth">

        <h1 class="text-center text-uppercase">Meike MK-910</h1>
        <h2 class="text-center text-uppercase">professzinális rendszervaku</h2>
        <h3 class="text-center text-uppercase">a Nikon SB-910 legjobb alternatívája</h3>

        <div class="customer-info__text-box container-fluid">
            <div class="row row-eq-height">

                <div class="col-xs-12 col-sm-6">
                    <p class="text-justify">A Meike MK-910 professzinális iTTL vaku, mely kompatibilis valamennyi Nikon tükörreflexes fényképezővel. Nagy
                        tudású vaku, mely számos kreatív funkciót tartalmaz.</p>
                    <p class="text-justify">Többek között együtt működik a Nikon kreatív megvilágítási rendszerével (Nikon Creative Lighting System),
                        amellyel új dimenziók nyílnak meg a kreatív fotós számára: fényképezőre helyezve képes más Nikon (vagy arra kompatibilis) vakuk
                        vezeték nélküli vezérlésére (master mód), ill. természetesen ö maga is lehet a vezérelt vaku (slave mód).</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p class="text-justify"> Kiemelkedő, 60-as kulcsszámmal rendelkezik (ISO 100), így nagyméretű sötét terek megvilágításával is könnyedén
                        megbírkózik. Beépített diffúzorlapja, valamint a 180°-os szögben elforgatható, felfelé 90°-os, lefelé 7°-os szögben megdönthető
                        vakufeje változatos indirekt megvilágítási lehetőséget biztosít.</p>
                    <p class="text-justify">A 18-180mm-es automatikus zoom széles optikai tartományban használható.</p>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row row-eq-height">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="customer-info__card">
                        <div class="customer-info__stars">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                        </div>
                        <h4 class="text-center">Kezdő fotósoknak</h4>
                        <p class="text-justify">Ha csak most ismerkedsz a fényképezéssel, nagy segítségedre lesz az
                            (automatikus)
                            <mark>iTTL
                                mód
                            </mark>, melynél mindig tökéletes a végeredmény, a
                            <mark>nagyméretű LCD
                                kijelző
                            </mark>, hogy minden részletet azonnal átláss és a háttérvilágítással
                            rendelkező gombsor, a
                            <mark>könnyű kezelhetőség</mark>
                            végett. Kiváló eszköz, mely minden
                            megvilágítási feladat kapcsán a segítségedre lesz.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="customer-info__card">
                        <div class="customer-info__stars">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                        </div>
                        <h4 class="text-center">Hobbi fotósoknak</h4>
                        <p class="text-justify">Számos olyan
                            <mark>kreatív lehetőséget</mark>
                            tartogat, mellyel
                            magasabb szintre
                            helyezheted tudásod! A Nikon kreatív megvilágítási rendszerével közel
                            <mark>tucatnyi
                                vakut vezérelhetsz
                            </mark>
                            segítségével vezeték nélkül (akár iTTL és manuális módban
                            vegyesen). Megemlíthetnénk még a dönthető/forgatható vakufejet, a beépített
                            diffúzorlapot és további kreatív funkciókat, mint a stroboszkópikus villanás, első és
                            hátsó redőnyre történő szinkronizálás lehetősége. Ezzel a vakuval igazi
                            <mark>élmény a
                                fotózás
                            </mark>.
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="customer-info__card">
                        <div class="customer-info__stars">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                            <img class="customer-info__star" src="{{ asset('images/star.svg') }}" alt="Meike MK910">
                        </div>
                        <h4 class="text-center">Professzionális célra</h4>
                        <p class="text-justify">Igazi társ a munkában! Akár rendezvény, portré, vagy sportfotó,
                            bátran számíthatsz rá.
                            Bírja a strapát: rendkívüli
                            <mark>60-as kulcsszám</mark>, villámgyors újratöltési idővel
                            (< 3sec) párosul, a túlhevülés ellen beépített hővédelemmel rendelkezik. A rendkívül
                            <mark>gyors vakuszinkront</mark>
                            (HSS, akár 1/8000sec) is szeretni fogod! Minőségi, precíz
                            felépéítésével por és csepptűrő tulajdonságával sokáig
                            <mark>hű társad</mark>
                            lesz.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="parallax parallax__two"></div>


<div class="functions-info container-fluid">
    <div class="row site-maxWidth">
        <h1 class="text-center text-uppercase">Meike MK-910 igazi csúcsvaku</h1>
        <h2 class="text-center text-uppercase">világbajnok funkciókkal</h2>

        <div class="container-fluid">
            <div class="row row-eq-height">

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="functions-info__card functions-info--text-right">
                        <img class="icon functions-info__icon functions-info--float-right" src="{{ asset('images/flash.svg') }}" alt="professzinális">
                        <h3 class="functions-info__title">Profi kinézet és működés</h3>
                        <p class="functions-info__text">Megjelenésében és funkcióiban közel megegyezik a Nikon legjobb vakujával (Nikon SB910)</p>
                    </div>
                    <div class="functions-info__card functions-info--text-right">
                        <img class="icon functions-info__icon functions-info--float-right" src="{{ asset('images/ittl.svg') }}"
                             alt="ittl - tökéletes összhang">
                        <h3 class="functions-info__title">iTTL - tökéletes összhang</h3>
                        <p class="functions-info__text">Témához tartozó villanás beállítása automatikusan, a fényképező saját fénymérő rendszerével
                            együttműködve</p>
                    </div>
                    <div class="functions-info__card functions-info--text-right">
                        <img class="icon functions-info__icon functions-info--float-right" src="{{ asset('images/hss.svg') }}" alt="gyors szinkron">
                        <h3 class="functions-info__title">Gyorsszikron (HSS)</h3>
                        <p class="functions-info__text">Nagysebességű vakuzás extrém gyors záridő használatánál (akár 1/8000sec)</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs">
                    <div class="functions-info_image"></div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="functions-info__card">
                        <img class="icon functions-info__icon" src="{{ asset('images/light.svg') }}" alt="professzinális">
                        <h3 class="functions-info__title text-left">60-as kulcsszám - elemi erő</h3>
                        <p class="functions-info__text text-left">Kiemelkedő, 60-as kulcsszám nagyméretű tereket is könnyedén bevilágít</p>
                    </div>
                    <div class="functions-info__card">
                        <img class="icon functions-info__icon" src="{{ asset('images/fast-reload.svg') }}" alt="ittl - tökéletes összhang">
                        <h3 class="functions-info__title text-left">Gyors újratöltés</h3>
                        <p class="functions-info__text text-left">Teljes újratöltés mindössze 3 sec, lehetővé téve a gyors fotózást - kapj el minden
                            pillanatot</p>
                    </div>
                    <div class="functions-info__card">
                        <img class="icon functions-info__icon" src="{{ asset('images/manual.svg') }}" alt="gyors szinkron">
                        <h3 class="functions-info__title text-left">Pontos manuális beállítás</h3>
                        <p class="functions-info__text text-left">Különlegesen precíz beállítás manuális vakuzáshoz: 8 teljesítményszint, 3 finomhangolási
                            lehetőséggel</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="parallax parallax__three"></div>


<div class="details-info container-fluid">
    <div class="row site-maxWidth">
        <h1 class="text-center text-uppercase">az egyik legjobb vaku, ami Nikon fényképezőre kerülhet...</h1>
        <img class="details-info__image" src="{{ asset('images/meike-mk910-details.jpg') }}" alt="Meike MK 910 részletek">
    </div>
</div>


<div class="parallax parallax__four"></div>


<div class="benefits-info container-fluid">
    <div class="row site-maxWidth">
        <h1 class="benefits-info__title text-center text-uppercase">Meike mk910 termékelőnyök.</h1>
        <div class="container-fluid">
            <div class="row row-eq-height">
                <div class="hidden-xs col-sm-4 col-md-6 benefits-info__image"></div>
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> Nikon SB910-el
                        <mark>megegyező tudás, féláron</mark>!
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> Hivatalos magyar
                        <mark>áfás számla</mark>
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> Hivatalos
                        <mark>12 hónap garancia</mark>
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> Azonnali,
                        <mark>ingyenes kiszállítás</mark>
                        raktárról
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> 14 napos
                        <mark>visszavásárlási garancia</mark>
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i>
                        <mark>Kockázatmentes</mark>
                        kipróbálási lehetőség
                    </p>
                    <p class="benefits-info__text"><i class="glyphicon glyphicon-ok-sign"></i> Most
                        <mark>ajándék diffúzor kupakkal</mark>
                        szállítjuk
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row site-maxWidth">
            <h1 class="benefits-info__title text-center text-uppercase">Magunkról</h1>
            <p class="text-justify">Küldetésünk, hogy a kreatív fotózás mindenki számára elérhető legyen, ehhez igyekszünk a
                <mark>legmegfelelőbb eszközt</mark>
                biztosítani. A Meike MK-910 vakuval pontosan ilyen kiváló ár/érték aránnyal rendelkező, ám mégis professzionális eszközt ajánlunk, melyet
                egyre több
                <mark>elégedett fotós</mark>
                igazol visssza. Bízunk benne, hogy segítségével hozzásegítünk fotós kreativitásod fejlesztéséhez, légy akár profi vagy kezdő. Amennyiben
                kérdésed merülne fel, szívesen állunk rendelkezésedre!
            </p>
            <p class="text-justify">Megrendelés leadása a bal oldali felületen ill. telefonon keresztül is lehetséges.</p>
            <p class="text-justify">Kérdés esetén keress minket bátran!</p>
            <h4 class="text-center text-uppercase">Élményfotózást kíván a csucsvaku.hu csapata!</h4>
        </div>
    </div>

    <div class="form-info container-fluid">
        <div class="row form-info__panel site-maxWidth">

            <div class="form__container">

                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="form-info__order-tab active"><a class="form-info__tabs" href="#order-tab" aria-controls="order-tab"
                                                                                   role="tab" data-toggle="tab">Szuper vaku, megrendelem!</a></li>
                    <li role="presentation" class="form-info__message-tab"><a class="form-info__tabs" href="#message-tab" aria-controls="message-tab"
                                                                              role="tab" data-toggle="tab">Kérdésem van, üzenetet küldök.</a></li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="order-tab">

                        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
                            <h1 class="text-center">Megrendelés</h1>
                            <p class="text-justify">Megrendelés az alábbi adatok megadásával lehetséges. Egy darab vaku ára
                                <mark> 54.990Ft</mark>. A kiszállítás készletről, azonnal történik és
                                <mark>díjmentes</mark>.
                            </p>

                            {{ form_start(orderForm) }}

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{ form_row(orderForm.name) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    {{ form_row(orderForm.phone) }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    {{ form_row(orderForm.email) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{ form_row(orderForm.deliveryAdress) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-8 col-md-8">
                                    {{ form_row(orderForm.deliveryMode) }}
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    {{ form_row(orderForm.quantity) }}
                                </div>
                            </div>

                            <div class="collapse form-group row" id="collapse--invoice">
                                <div class="col-xs-12">
                                    {{ form_row(orderForm.invoice) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{ form_row(orderForm.message) }}
                                </div>
                            </div>

                            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapse--invoice"> Eltérő szállítási és számlázási cím</a>
                            <a class="btn btn-default btn-sm" data-toggle="collapse" href="#collapse--warranty"> Kiterjesztett garancia vásárlása</a>

                            <div class="collapse form-group row" id="collapse--warranty">
                                <div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
                                    <div class="radio__container">
                                        {{ form_row(orderForm.warranty) }}
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">
                                    <div class="order-form__terms-container">
                                        <div class="terms">
                                            {{ form_row(orderForm.terms) }}
                                            <p class="order-form__terms text-center"><a href="{{ asset('aszf/csucsvaku_aszf.pdf') }}" target="_blank">Felhasználási
                                                    feltételek</a></p>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="order-form__submit btn btn-success btn-lg disabled">Megrendelem</button>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(orderForm) }}
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="message-tab">

                        <div class="col-xs-12 col-sm-12 col-md-offset-1 col-md-10">
                            <h1 class="text-center">Üzenetet küldök</h1>
                            <p class="text-justify">
                                Kérdés esetén szívesen segítünk! Keress minket a lenti adatok kitöltésével, vagy a
                                <mark>06 70 232 4114</mark>
                                -es telefonszámon.
                            </p>

                            {{ form_start(messageForm) }}

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{ form_row(messageForm.name) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    {{ form_row(messageForm.phone) }}
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    {{ form_row(messageForm.email) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-12">
                                    {{ form_row(messageForm.message) }}
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-xs-offset-0 col-sm-offset-2 col-xs-12 col-sm-8">

                                    <div class="form-group text-center">
                                        <button type="submit" class="message-form__submit btn btn-success btn-lg">Elküldöm</button>
                                    </div>
                                </div>
                            </div>

                            {{ form_end(messageForm) }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer class="company-info">

    <ul class="company-info__list container-fluid text-center site-maxWidth">
        <li class="company-info__list-item"><span class="company-info__icon glyphicon glyphicon-globe"></span><b>cégnév:</b> SmartNet 2007 Bt.</li>
        <li class="company-info__list-item"><span class="company-info__icon glyphicon glyphicon-home"></span><b>székhely:</b> Pest megye, Gyömrő,
            Buzogány u.
        </li>
        <li class="company-info__list-item"><span class="company-info__icon glyphicon glyphicon-phone-alt"></span><b>telefon:</b> 06 70 232 4114</li>
        <li class="company-info__list-item"><span class="company-info__icon glyphicon glyphicon-tags"></span><b>adószám:</b> 22350750-2-13</li>
        <li class="company-info__list-item"><span class="company-info__icon glyphicon glyphicon-credit-card"></span><b>bankszámlaszám:</b>
            10918001-00000090-18070001, Unicredit Bank
        </li>
    </ul>

</footer>

<!-- jQuery, bootstrap code -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="{{ asset('vendor/jquery-scrollspy-0.1.3/scrollspy.js') }}"></script>
<script src="{{ asset('vendor/bootstrap-tab-2.4.0/bootstrap-tab.js') }}"></script>
<script src="{{ asset('vendor/inwiew/jquery.inview.min.js') }}"></script>

<!-- main.js -->
<script src="{{ asset('js/main.js') }}"></script>

<!-- google analitics code -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-63624945-1', 'auto');
    ga('send', 'pageview');
</script>

</body>
</html>
